<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
  <style>
    * {
      margin-top: 10px;
    }

    .box {
      /* margin-left: 30px; */
    }
  </style>
</head>

<body>
  <!-- 
    computeds和watch的区别:
      1. computeds能实现的功能，watch也能实现
      2. watch实现的功能，computeds不一定能实现，比如异步操作
    重要原则:
      1. 所有Vue管理的函数，最好写成普通函数，这样this才会指向vm 或 组件实例对象
      2. 不被Vue管理的函数(定时器回调，ajax回调，Promise回调等)，最好写成箭头函数，这样this才会指向vm 或 组件实例对象     
   -->
  <div id="root">
    <div class="box1">
      姓: <input type="text" v-model="firstName" placeholder="输入姓">
    </div>
    <div class="box2">
      名: <input type="text" v-model="lastName" placeholder="输入名">
    </div>
    <div class="box">
      全名: {{fullName}}</br>
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: '#root',
      data() {
        return {
          firstName: '张',
          lastName: '三',
          fullName:'张-三'
        }
      },
      watch: {
        firstName(fresh) {
          setTimeout(() => {
            this.fullName = fresh + '-' + this.lastName
          }, 1000);
        },
        lastName(fresh) {
          setTimeout(() => {
            this.fullName = this.firstName + '-' + fresh
          }, 1000);
        }
      }
    })


  </script>
</body>

</html>